body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size:16px;
    
}

h1, h2, h3 {
    background-color: blanchedalmond;
    text-align: center;
    
}

a {
    color:midnightblue;
}
